---
import { Image } from "astro:assets";
import placeholder from "@images/placeholder.png";
---

<section class="about">
    <div class="container">
        <h2 class="title">About Call Dan</h2>
        <p class="text">
            At Call Dan, we provide reliable handyman services to homeowners and
            businesses right across South West Sydney. Whether you need window
            cleaning, fly screen replacement or repairs around the house, Dan is
            ready to get the job done promptly and professionally.
        </p>
        <Image
            src={placeholder}
            alt="handyman south sydney"
            class="about-image"
        />
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: white;
    }
    h2 {
        font-size: 1.65rem;
        text-transform: uppercase;
    }
    .about-image {
        width: 100%;
        height: auto;
    }
    @media (min-width: 768px) {
        .title {
            grid-area: title;
        }
        .text {
            grid-area: text;
        }
        .about-image {
            grid-area: image;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "title title"
                "image text";
            gap: 4rem;
        }
    }

    @media (min-width: 1024px) {
        .title {
            font-size: 3rem;
        }
    }
</style>
