---
import { Image } from "astro:assets";

const { icon, title } = Astro.props;
---

<div class="service-card">
    <Image src={icon} alt={title} class="icon" />
    <h3>{title}</h3>
    <slot />
</div>

<style>
    .service-card {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border: 1px solid var(--dark);
        border-radius: 6px;
    }
    h3 {
        text-transform: uppercase;
    }
    @media (min-width: 768px) {
        .service-card {
            width: calc(50% - 2rem);
            box-sizing: border-box;
        }
        .icon {
            max-width: 120px;
            height: 120px;
        }
    }

    @media (min-width: 1024px) {
        h3 {
            font-size: 1.65rem;
        }
    }
</style>
