---
import { Image } from "astro:assets";
import stars from "@icons/stars.svg";
import quotemark from "@icons/quote.svg";
const { quote, quotee } = Astro.props;
---

<div class="testimonial-card">
    <div class="testimonial-header">
        <Image src={quotemark} alt="handyman testimonial quote" />
        <p>- {quotee}</p>
    </div>
    <blockquote>
        {quote}
    </blockquote>
    <Image src={stars} alt="five-star handyman service" class="stars" />
</div>

<style>
    .testimonial-card {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.65rem;
        border: 1px solid rgba(255, 255, 255, 0.247);
        border-radius: 6px;
        margin: 0px 1rem;
    }
    .testimonial-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    blockquote {
        line-height: 200%;
    }
    .stars {
        align-self: center;
    }
    @media (min-width: 768px) {
        .testimonial-card {
            padding: 4rem;
            gap: 3rem;
        }
    }

    @media (min-width: 1024px) {
        .testimonial-card {
            width: 460px;
            margin: 4rem auto;
        }
    }
</style>
