---
import { Image } from "astro:assets";
import icon from "@icons/logo.svg";
import callIcon from "@icons/call.svg";
import messageIcon from "@icons/tick-message.svg";
import SecondaryButton from "../Secondary_Button.astro";
import PrimaryButton from "../Primary_Button.astro";
---

<section class="hero">
    <div class="container">
        <Image src={icon} alt="logo" class="logo" />
        <h1>South West Sydney's Trusted Local Handyman</h1>
        <p class="text-content">
            From leaky taps and gutter cleaning to welding and mould removal,
            Call Dan provides friendly and affordable handyman services all
            across Southwest Sydney.
        </p>
        <div class="cta-buttons">
            <SecondaryButton icon={callIcon} href="tel:+61 478 847 190"
                >Call Dan</SecondaryButton
            >
            <PrimaryButton href="/contact/#contact-form" icon={messageIcon}
                >Request Quote</PrimaryButton
            >
        </div>
    </div>
</section>

<style>
    .hero {
        background-color: var(--dark);
    }
    .hero .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hero h1 {
        color: var(--gold);
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    .hero p {
        color: white;
    }
    .cta-buttons {
        display: flex;
        gap: 0.5rem;
    }
    @media (min-width: 768px) {
        .hero .container {
            gap: 4rem;
        }
        .logo {
            align-self: center;
        }
        .hero h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1024px) {
        .logo {
            grid-area: logo;
        }
        .hero h1 {
            grid-area: title;
            text-align: left;
        }
        .text-content {
            grid-area: text-content;
        }
        .cta-buttons {
            grid-area: cta-buttons;
        }

        .hero .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "logo title"
                "logo text-content"
                "logo cta-buttons";
            gap: 2rem;
        }
        .logo {
            align-self: flex-start;
            margin: 0px auto;
        }
    }
</style>
