---
import { Image } from "astro:assets";
import icon from "@icons/logo.svg";
import callIcon from "@icons/call.svg";
import messageIcon from "@icons/tick-message.svg";
import SecondaryButton from "../Secondary_Button.astro";
import PrimaryButton from "../Primary_Button.astro";
---

<section class="hero">
    <div class="container">
        <Image src={icon} alt="logo" />
        <h1>South West Sydney's Trusted Local Handyman</h1>
        <p>
            From leaky taps and gutter cleaning to welding and mould removal,
            Call Dan provides friendly and affordable handyman services all
            across Southwest Sydney.
        </p>
        <div class="cta-buttons">
            <SecondaryButton icon={callIcon} href="tel:040"
                >Call Dan</SecondaryButton
            >
            <PrimaryButton href="/contact/#contact-form" icon={messageIcon}
                >Request Quote</PrimaryButton
            >
        </div>
    </div>
</section>

<style>
    .hero {
        background-color: var(--dark);
    }
    .hero .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hero h1 {
        color: var(--gold);
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    .hero p {
        color: white;
    }
    .cta-buttons {
        display: flex;
        gap: 0.5rem;
    }
</style>
