---

---

<section>
    <div class="container">
        <h2>Time to get your job done?</h2>
        <p>
            Contact Call Dan today and enjoy hassle free handyman services that
            South West Sydney locals trust. Fast, reliable, and affordable
            service is just one click away.
        </p>
    </div>
</section>

<style>
    section {
        background-color: var(--dark);
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding-top: 4rem;
    }
    h2 {
        text-transform: uppercase;
        font-size: 1.65rem;
    }
    p {
        color: white;
    }
</style>
