---

---

<section>
    <div class="container">
        <h2>Call Dan’s Operating hours</h2>
        <p>
            We’re available during these hours, ready to provide handyman
            services when you need them.
        </p>

        <div class="hours">
            <div class="hour">
                <h3>Mon-Fri</h3>
                <p>7am - 6pm</p>
            </div>

            <div class="hour">
                <h3>Saturday</h3>
                <p>7am - 12pm</p>
            </div>

            <div class="hour">
                <h3>Sunday</h3>
                <p>Emergency Only</p>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--dark);
    }
    .container {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hours {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .hour {
        display: flex;
        align-items: center;
    }
    .hour h3 {
        width: 30%;
    }
    h2 {
        font-size: 1.65rem;
        text-transform: uppercase;
    }
</style>
