---
import logo from "@icons/logo.svg";
import { Image } from "astro:assets";
const today = new Date();
---

<footer>
	<div class="footer-container">
		<Image src={logo} alt="call dan logo" class="logo" />

		<div class="footer-nav">
			<div class="links">
				<h2>Site Links</h2>
				<ul class="site-links">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/services">Services</a></li>
				</ul>
			</div>

			<div class="links">
				<h2>Social Media</h2>
				<ul class="site-links">
					<li>
						<a href="https://www.facebook.com/calldan2day"
							>Facebook</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-end">
			<a href="https://beachsidewebdesigns.com">
				&copy; {today.getFullYear()} Beachside Web Designs.
			</a>
		</div>
	</div>
</footer>
<style>
	footer {
		background-color: var(--dark);
	}
	.footer-container {
		padding: 2rem 1rem 0.5rem 1rem;
	}
	.logo {
		width: 230px;
		height: auto;
		opacity: 0.3;
	}
	.footer-nav {
		display: flex;
		gap: 4rem;
		margin-top: 2rem;
	}
	li {
		list-style-type: none;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	a {
		color: var(--gold);
		text-decoration: none;
	}
	.links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		opacity: 0.9;
	}
	h2 {
		color: white;
	}
	.footer-end {
		margin-top: 2rem;
		text-align: center;
	}
	@media (min-width: 768px) {
		.footer-container {
			padding: 4rem 4rem 1rem 4rem;
		}
	}

	@media (min-width: 1440px) {
		.footer-nav {
			gap: 7rem;
			margin-top: 7rem;
		}
	}
</style>
